<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- This allows you to change the output filename, this still relies on you passing the -o flag to the Console Application but allows you to change the name of the file created-->
		<add key="OutputFileName" value="Output.txt"/>
		<!-- False will create a new file every time, and true will append to the same file-->
		<add key="AppendToOutputFile" value="true"/>
		<!-- This will allow you to increase the number of HITS and Occurences to display on output, if this exceeds the number available it will only display what it can-->
		<add key="NumberToDisplay" value="3"/>
		<!-- Include an ouput for Number of Unique IP Addresses-->
		<add key="DisplayUniqueIPs" value="true"/>
		<!-- Include an output for Number of Unique URLS-->
		<add key="DisplayUniqueURLs" value="false"/>
		<!-- SortByKeyAdditionally=true, List<KeyValuePair<string,int>> will be sorted first by int (number of occurrences) and then by string (IP / URL) will provide more consistent output when the number of occurrences are the same-->
		<!-- SortByKeyAdditionally=false, List<KeyValuePair<string,int>> will be sorted only by int (number of occurrences)-->
		<add key="SortByKeyAdditionally" value="false"/>
	</appSettings>
</configuration>